<div class="card mb-3 postcard">
  <div class="card-body">
    <p class="card-text">{{comment_body}}</p>
    <div class="bottompostcard">
        <a href="/users/{{comment_poster}}"class="card-text"><small class="text-muted">{{comment_poster}}</small></a>
    </div>
  </div>
</div>